<?xml version="1.0"?>
<!--
/**
 * Copyright © Magepotato. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magepotato_Banners::banners" title="Banners" sortOrder="10" >
                        <resource id="Magepotato_Banners::area" title="Areas" sortOrder="40">
                            <resource id="Magepotato_Banners::area_save" title="Save Area" sortOrder="10" />
                            <resource id="Magepotato_Banners::area_delete" title="Delete Area" sortOrder="20" />
                        </resource>
                        <resource id="Magepotato_Banners::banner" title="Banners" sortOrder="50">
                            <resource id="Magepotato_Banners::banner_save" title="Save Banner" sortOrder="10" />
                            <resource id="Magepotato_Banners::banner_delete" title="Delete Banner" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
