<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hedeya\MobileApi\Api\Service\HomeInterface" type="Hedeya\MobileApi\Model\Service\Home"/>
    <preference for="Hedeya\MobileApi\Api\Service\CatalogInterface" type="Hedeya\MobileApi\Model\Service\Catalog"/>
    <preference for="Hedeya\MobileApi\Api\Data\Catalog\ExtensionOptionInterface" type="Hedeya\MobileApi\Model\Data\ExtensionOption"/>
    <preference for="Hedeya\MobileApi\Api\Data\Catalog\CategoryTreeItemInterface" type="Hedeya\MobileApi\Model\Data\CategoryTreeItem"/>
    <preference for="Hedeya\MobileApi\Api\Data\QuoteItemInterface" type="Hedeya\MobileApi\Model\Data\QuoteItem"/>
</config>
