<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Service-->
    <preference for="Mirasvit\Giftr\Api\Service\RegistryProviderInterface"
                type="Mirasvit\Giftr\Service\RegistryProvider"/>
    <preference for="Mirasvit\Giftr\Api\Service\Registry\OrderProviderInterface"
                type="Mirasvit\Giftr\Service\Registry\OrderProvider"/>

    <!--Repository-->
    <preference for="Mirasvit\Giftr\Api\Repository\PurchaseRepositoryInterface"
                type="Mirasvit\Giftr\Repository\PurchaseRepository"/>
    <preference for="Mirasvit\Giftr\Api\Repository\RegistryRepositoryInterface"
                type="Mirasvit\Giftr\Repository\RegistryRepository"/>

    <type name="\Magento\Quote\Model\QuoteAddressValidator">
        <plugin name="ValidateGiftrQuoteAddress"
                type="\Mirasvit\Giftr\Model\Plugin\Checkout\QuoteAddressValidatorPlugin"
                sortOrder="1"/>
    </type>

    <type name="\Magento\Quote\Model\Webapi\ParamOverriderCartId">
        <plugin name="CartIdForRegistrantCustomer"
                type="\Mirasvit\Giftr\Model\Plugin\Checkout\Webapi\ParamOverriderCartId"
                sortOrder="1"/>
    </type>
</config>
