<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hedeya\WishlistApi\Api\WishlistInterface" type="Hedeya\WishlistApi\Model\Wishlist"/>
    <preference for="Hedeya\WishlistApi\Api\WishlistRepositoryInterface" type="Hedeya\WishlistApi\Model\WishlistRepository"/>
</config>
